# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/
env/

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Node / Vue
# =========================
node_modules/
dist/
.vite/

# =========================
# Environment
# =========================
.env
.env.*
application-local.yml
application-local.yaml

# =========================
# Database
# =========================
*.sqlite3
db.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

api.py